body{
    background-image: linear-gradient(135deg, #270722, #641e72, #9c4eac);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    border-radius: 0.5em;
    background-color: #bd93d8;
    height: 7vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbartext, #score{
    color: #641e72;
    font-weight: bolder;
    font-size: 3vh;
}

h1{
    color: #641e72;
}

main{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-div{
    height: 82vh;
    width: 85vw;
    border-radius: 0.5em;
    background-color: #bd93d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    height: fit-content;
    width: 80vw;
    border: none;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    text-align: center;
}

.question h2{
    color: #270722;
    text-align: center;
}

.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.option{
    height: 10vh;
    width: 35vw;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: 1.3rem;
}

#option1{
    background-color: #4357AD;    
}

#option2{
    background-color: #FE9920;    
}

#option3{
    background-color: #48A9A6;    
}

#option4{
    background-color: #982649;    
}

.option:hover{
    transform: translateY(-0.3rem);
    transition: 1s ease-out;
}

.initial-div{
    height: 82vh;
    width: 85vw;
    border-radius: 0.5em;
    background-color: #bd93d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#playbutton{
    background-color: #641e72;
    width: 20vw;
    height: 15vh;
    border: none;
    border-radius: 0.5em;
    font-size: 5vh;
    font-weight: 600;
    color: #bd93d8;
}

#playbutton:hover{
    background-color: #833094;
    color: #bd93d8;
}

#theme{
    color: #641e72;
    font-size: 2em;
    font-weight: 700;
}

.final-div{
    height: 82vh;
    width: 85vw;
    border-radius: 0.5em;
    background-color: #bd93d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#finalscore{
    color: #641e72;
    font-size: 5em;
    font-weight: 700;
}

#replaybttn{
    margin-top: 5vh;
    background-color: #641e72;
    border: none;
    border-radius: 2em;
    font-size: 2em;
    width: 20vw;
    height: 10vh;
    color: #9c4eac;
}

#replaybttn:hover{
    color: #bd93d8;
    background-color: #833094;
}