body{
    background-image: linear-gradient(135deg, #270722, #641e72, #9c4eac);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    border-radius: 0.5em;
    background-color: #bd93d8;
    height: 7vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: #270722;
}

main{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv{
    height: 82vh;
    width: 85vw;
    border-radius: 0.5em;
    background-color: #bd93d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    height: fit-content;
    width: 80vw;
    border: none;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
}

.question h2{
    color: #270722;
}

.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.option{
    height: 10vh;
    width: 35vw;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
}

#option1{
    background-color: #4357AD;    
}

#option2{
    background-color: #FE9920;    
}

#option3{
    background-color: #48A9A6;    
}

#option4{
    background-color: #982649;    
}

#playbutton{
    background: none;
    width: 50px;
    height: 50px;
    border: solid 5px #fff;
    border-radius: 100%;
    position: relative; 
    text-indent:-9999px;
}
