@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: "Permanent Marker", cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 215, 215);
    color: #333;
    min-height: 100vh;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#container{
    filter: drop-shadow(0px 0px 30px rgb(97, 97, 97));
    background: linear-gradient(135deg , rgb(214, 211, 212),rgb(86,99,104));
    width: 88%;
    max-width: 1100px;
    height: auto;
    min-height: 550px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
}

#title_text {
    font-size: 35px;
}

#select{
    filter: drop-shadow(0px 0px 30px rgb(97, 97, 97));
    background-color: rgb(150, 158, 158);
    width: 22vw;
    max-width: 170px;
    height: auto;
    aspect-ratio: 170 / 290;
    border-radius: 20px;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select > img{
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}


#select_theme {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 20px;
}

#theme_text {
    margin-top: 10px;
}

#play_theme {
    color: #333;
    font-size: 1.5em;
}

#select:hover{
    transform: scale(1.04);
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 97%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

#play_game{
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}


#icon_username{
    display: flex;
    border-radius: 15px;
    background-color: rgb(150, 158, 158);
    filter: drop-shadow(0px 0px 15px rgb(56, 56, 56));
    width: fit-content;
    height: 2em;
    aspect-ratio: 85 / 30;
    align-items: center;
    justify-content: flex-start;
}

#icon_username:hover{
    transform: scale(1.05);
}

#name_user{
    color: #333;
    margin-left: 6px;
}

#img_user{
    height: 100%;
    object-fit: cover;
}

.board {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 1vw;
    height: 100%;
    width: 65%;
}

.card {
    width: 9vw;
    height: 9vw;
    filter: drop-shadow(0px 0px 15px rgb(56, 56, 56));
    background-color: rgb(150, 158, 158);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s ease;
}

.card:hover{
    transform: scale(1.04);
}

.card.flipped {
    background-color: rgb(209, 215, 215);
}

.matched {
    background-color: #4db95f !important;
    cursor: default;
}

#stats{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(150, 158, 158);
    filter: drop-shadow(0px 0px 15px rgb(56, 56, 56));
    border-radius: 10px;
    font-size: 1.2vw;
    width: fit-content;
    padding: 3px;
}

#timer{
    color: rgb(252, 32, 32);
}

#div_result {
    position: absolute;
    filter: drop-shadow(0px 0px 30px rgb(97, 97, 97));
    background: linear-gradient(135deg , rgb(214, 211, 212),rgb(86,99,104));
    width: 35%;
    max-width: 500px;
    height: auto;
    min-height: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    gap: 30px;
}

#text_result{
    font-weight: bolder;
    font-size: 1.5vw;
}

#backMenu, #restart{
    color: #333;
    width: 30%;
    height: 4vw;
    background-color: rgb(150, 158, 158);
    filter: drop-shadow(0px 0px 30px rgb(97, 97, 97));
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#backMenu:hover, #restart:hover{
    transform: scale(1.05);
}

/* Initial Page */

#initial_page{
    filter: drop-shadow(0px 0px 30px rgb(97, 97, 97));
    background: linear-gradient(135deg , rgb(214, 211, 212),rgb(86,99,104));
    width: 88%;
    height: 89%;
    min-height: 85vh;
    border-radius: 20px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#first_text {
    font-weight: bolder;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

#whatsName{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#insert_username{
    display: flex;
    justify-content: center;
    align-items: center;
}

#username {
    font-size: 1.5vw;
    color: #333;
    border-radius: 10px;
    border: none;
    width: 27vw;
    height: 1.98vw;
    transition: background 0.3s ease;
    outline: transparent;
    box-shadow: 0 0 15px rgba(122, 130, 134, 0.888);
    background-color: #d9e2e6;
}

#username:hover, #username:focus{
    transform: scale(1.04);
}

#enter {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 20px;
    outline: transparent;
    border: none;
    margin-left: 15px;
    background-color: #333;
    box-shadow: 0 0 15px rgba(122, 130, 134, 0.888);
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon_enter {
    width: 1.5vw;
    height: 1.5vw;
}

#enter:hover, #enter:focus{
    transform: scale(1.05);
}

@media (max-width: 1250px) {
    #container {
        min-height: 400px;
    }

    #stats {
        font-size: 1.5vw;
        padding: 2.5px;
    }

    #text_result {
        text-align: center;
        font-size: 2vw;
    }

    #restart{
        font-size: 1.5vw;
        width: 50%;
        height: 6vw;
    }

    #backMenu{
        font-size: 1.5vw;
        width: 50%;
        height: 6vw;
    }
}

@media (max-width: 800px) {
    #container {
        padding: 10px;
        min-height: 400px;
    }

    #title_text {
        font-size: 4vw;
    }

    #stats {
        font-size: 2.45vw;
        padding: 2px;
    }

    #gallery {
        gap: 3vw;
    }

    #select {
        width: 38vw;
        max-width: none;
        aspect-ratio: 170 / 245;
    }

    #select > img {
        height: 86%;
    }

    #play_theme {
        font-size: 3.5vw;
    }

    #icon_username {
        width: fit-content;
        height: 4.45vw;
    }

    #enter {
        width: 3vw;
        height: 3vw;
    }

    #icon_enter {
        width: 1.75vw;
        height: 1.75vw;
    }

    #first_text {
        font-size: 4.8vw;
    }

    #username {
        width: 32vw;
        height: 2.45vw;
        font-size: 2.2vw;
    }

    .board {
        gap: 3.5vw;
        padding: 2.5vw;
    }

    .card {
        width: 13vw;
        height: 13vw;
        font-size: 2.5rem;
    }

    #text_result {
        text-align: center;
        font-size: 3vw;
    }

    #restart{
        font-size: 1.85vw;
        width: 68%;
        height: 7.3vw;
    }

    #backMenu{
        font-size: 1.85vw;
        width: 68%;
        height: 7.3vw;
    }
}